body {
	font-family: Helvetica, sans-serif;
}

body, h1, h2, figcaption {
	padding: 0px;
	margin: 0px;
}

header{
	background: black;
	text-align: left;
	padding: 15px 10px 30px 30px;
}

header, .splash, .splash a {
	color: white;
}

.splash, .splash a {
	text-align: center;
}

.splash {
	background-image: url(images/purple-bg.jpeg);
	padding: 100px;
}

.splash h2 {
	font-size: 85px;
	padding-bottom: 50px;
}

.splash a {
	padding: 15px 20px;
	text-decoration: none;
	border: 3px white solid;
}

.about {
	text-align: left;
	padding: 75px 30px 30px 30px;
	border-bottom: 1px #ccc solid;
}

.about p {
	font-size: 24px;
	line-height: 1.5em;
}

.work {
	padding: 0px 30px;
	position: center;
}

.work h2 {
	padding: 30px 0px;
	text-align: left;
}

.table {
	display: flex;
	flex-direction: row;
}

.column1 {
	
	max-width: 50%;
}

.column2 {
	max-width: 50%;
}

.table img {
	max-width: 100%;
}

.table figure {
	margin: 0px;
	padding: 0px;
}

footer {
	text-align: center;
	border-top: 1px solid #ccc;
	font-size: 25px;
}

